// Specific CSS for your home-page
#cine_cover {
  object-fit: none;
  object-position: center;
  width: 100%;
  max-height: 250px;
}

.list_picture {
  width: 25%;
  height: 200px;
  margin: 24px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
  // linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))

        // <!-- <div class="col list_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1200x400/?<!%= list.name %>,movie)"> -->
