<nav class="navbar navbar-light bg-dark justify-content-between">
  <%= image_tag "claquete", alt: "Logo Claquete", class:"navbar-brand mx-5" %>
  <h1>Thanks for visiting</h1>
  <div class="mx-5">
    <h4><%= link_to "My lists", lists_path, class:'navbutton' %></h4>
  </div>
</nav>
