<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to lists_path do %>
    <% image_tag "claquete", alt: "Logo Claquete", class:"navbar-brand mx-5" %>
  <% end %>
  <h1><%= link_to "Watch List", lists_path, class: 'textlogo' %></h1>
  <div class="mx-5">
    <h4><%= link_to "My lists", lists_path, class:'navbutton' %></h4>
  </div>
</nav>
